<h1>Documentos Flat Serrambi</h1>
<h2>Documentos do Imovel</h2>
<table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">TIPO DE DOCUMENTO/LINK PARA ABRIR ARQUIVO</th>
        <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody *ngFor="let doc of docs" >
    <tr>
      <td>{{doc.id}}</td>
      <td *ngIf="doc.href; else showtexto"><a href="{{doc.href}}" target="_blank">{{doc.doc}}</a>
      </td>
      <ng-template #showtexto>
            <td *ngIf="doc.status=='Abaixo'; else showred"><p style="font-weight: bold;">{{doc.doc}}</p>
            </td>
      </ng-template>
              <ng-template #showred>
                <p style="color: crimson;">{{doc.doc}}</p>

              </ng-template>

      <td>{{doc.status}}</td>
    </tr>

    <tr *ngIf="doc.id === 90">
      <td>----</td><td><h2>Documentos_do_Alienante</h2></td><td><p>----</p></td></tr>
  </tbody>
</table>






